/* utilities */
body{
    background-color:rgb(30, 75, 30);
    overflow-y: none;
}

.bg-sky{
    background-color: rgb(109, 209, 226);
}
/* left column */
.square{
    height: 80px; 
}
.user-square{
    height: 60px;
    background-color: rgb(212, 212, 212);  
} 

.user-img{
    width: 50px;
    border-radius: 50%;
}

.notification-circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
}

.notification-circle i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(109, 209, 226);;
}

.bottom-section{
    height: calc(800px - 300px);
    overflow-y: auto;
}

.chat{
    height: calc(800px - 220px);
    overflow-y: auto;
    background-image: url(../img/mine.jpg);
    background-size: contain;
}

.message{
    height: 80px;
    background-color: rgb(228, 220, 220);  
}

