/* utilities */
body{
    height: 100vh;
   background-image: linear-gradient(
       to bottom,
       #00bfa5 15%,
       #f0f0f0 15%,
       #f0f0f0 100%
   );
}

.cursor-pointer{
cursor: pointer;
}

.bg-sky{
    height: 80px;
    background-color: rgb(109, 209, 226);
}

.square{
    height: 80px; 
    background-color: #fff;
}
/* hover classes */

.square:hover{
    background-color: rgb(184, 182, 182);
    cursor: pointer;
}
.user-square{
    height: 60px;
    background-color: rgb(212, 212, 212);  
} 

.user-img{
    width: 50px;
    border-radius: 50%;
}

/* left column */

.notification-circle{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
}

.notification-circle i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(109, 209, 226);;
}
/* bottom left section */
.bottom-section{
    height: calc(800px - 300px);
    overflow-y: auto;
}
/* chat section */
.chat{
    height: calc(800px - 220px);
    overflow: auto;
    background-image: url(../img/mine.jpg);
    background-size: contain;
}
/* messages */

 .message-container.sent{
    justify-content: flex-end;
}

.message-container.sent .message {
    background-color: #d5f9ba;
  }
  
  .message-container.received .message {
    background-color: #fff;
  }

 .message-container.received{
    justify-content: flex-start;
}
.message-container .message time {
    display: block;
    font-size: 10px;
    color: #aaa;
  }

/* send message */
.write-message{
    height: 80px;
    background-color: rgb(228, 220, 220);  
}

